In [15]:
import pandas as pd

labels= pd.read_csv('labels.csv',names=['gsurl','class'])
labeled_images =pd.read_csv('labeled_images.csv') #training
dict_explanation =pd.read_csv('dict_explanation.csv')

In [12]:
labeled_images.head()

,gsurl,class,name
0,gs://tamucc_coastline/esi_images/IMG_3059_SecD...,9,Sheltered tidal flats
1,gs://tamucc_coastline/esi_images/IMG_3062_SecD...,9,Sheltered tidal flats
2,gs://tamucc_coastline/esi_images/IMG_3065_SecD...,9,Sheltered tidal flats
3,gs://tamucc_coastline/esi_images/IMG_3068_SecD...,9,Sheltered tidal flats
4,gs://tamucc_coastline/esi_images/IMG_3072_SecD...,9,Sheltered tidal flats

In [19]:
labels.shape

(11713, 2)

In [16]:
labels.tail()

                                                   gsurl class
11708  gs://tamucc_coastline/esi_images/IMG_4650_SABa...   10B
11709  gs://tamucc_coastline/esi_images/IMG_4647_SABa...   10B
11710  gs://tamucc_coastline/esi_images/IMG_4643_SABa...   10C
11711  gs://tamucc_coastline/esi_images/IMG_4636_SABa...   10B
11712  gs://tamucc_coastline/esi_images/IMG_4632_SABa...   10B

In [11]:
dict_explanation

   class                                               name
0      1  Exposed walls and other structures made of con...
1    2A                     Scarps and steep slopes in clay
2    2B                             Wave-cut clay platforms
3    3A                           Fine-grained sand beaches
4    3B                     Scarps and steep slopes in sand
5      4                        Coarse-grained sand beaches
6      5              Mixed sand and gravel (shell) beaches
7    6A                              Gravel (shell) beaches
8    6B                           Exposed riprap structures
9      7                                Exposed tidal flats
10   8A   Sheltered solid man-made structures, such as b...
11   8B                         Sheltered riprap structures
12   8C                                    Sheltered scarps
13     9                              Sheltered tidal flats
14  10A                    Salt- and brackish-water marshes
15  10B         Fresh-water marshes (herbaceous vegetation)
16  10C               Fresh-water swamps (woody vegetation)
17   1OD                                          Mangroves

In [21]:
from sklearn.model_selection import train_test_split
#Set features and target data
X=labels.loc[:, labels.columns != 'class']
y=labels['class']

# Split the data into 40% test and 60% training
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)

In [38]:
y_train = pd.DataFrame(y_train)

In [40]:
y_test=pd.DataFrame(y_test)

In [61]:
labels_train_set = pd.concat([X_train,y_train],axis=1,ignore_index=True)
labels_train_set.columns=['gsurl','class']
labels_test_set = pd.concat([X_test,y_test],axis=1,ignore_index=True)
labels_test_set.columns=['gsurl','class']

In [64]:
labels_train_set.to_csv('labels_train_set.csv',index=False)
labels_test_set.to_csv('labels_test_set.csv',index=False)